* {
  box-sizing: border-box;
}

 .each-user{ 
  background: rgb(225, 169, 58);
  max-width: 500px;
  align-items: center;
  position: relative;
  box-shadow: 1px 1px 1px;
  margin: auto;
  padding-left: 6px;
  border-left: 0px 0px 0px 3px solid green;
  height: auto;
}

.p.text{
 font-size: large; 
}

.text{
  color: black;
  flex: 30%;
  width: 40px;
  height: 45px;
  margin: 5px;
  font-size: larger;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.join-side{
   flex: 40%;
   background-color: #f1f1f1;
   padding: 20px;
}

.list-side {
  flex: 60%;
  background-color: white;
  padding: 20px;
}

.join-btn{
  background-color: rgb(48, 171, 130);
  min-width: 80%;
  height: 40px;
  border-radius: 15px;
  border: none;
  color: white;
  font-size: x-large;
}

.input{
  min-width: 80%;
  height: 40px;
}
 
.student-row{
  display: flex;
  flex-wrap: wrap; 
  border-left: 0px 0px 0px 3px solid green;
}

.delete-btn {
  height: auto;
  width: 50px;
  border: none;  
  background-color: rgb(251, 107, 107);
  margin: 5px;
  margin-top: none;
}

.header{
  background-color: rgb(71, 144, 71);
  color: white;
  text-align: center;
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  height: 100px;
  padding-top: 0;
  width: 100%; 
  }

 .navbar{
  overflow: hidden;
  background-color:  rgb(209, 111, 30);
  width: 100%;
  }

 .navbar a {
  float: left;
  display: block;
  color:whitesmoke;
  text-align: center;
  text-decoration: none;
  padding: 14px 20px;
 }

 .navbar a:hover {
  background-color:  rgb(246, 185, 135);
 }
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }

.register {
  color: rgb(5, 170, 226);
}

/* .table-data{
 flex: 100%;
 margin: 5px;
} */

/* 
.table-data{
  flex: 20%;
  margin: 5px;
 } */

/* 
 .table-data{
  flex: 25%;
  margin: 20px;
 } */

.table-row{
  width: 100%;
  background-color: green;
  /* display: flex; */
}

.footer{
 background-color: rgb(4, 202, 209);
 text-align: center;
 padding: 5px; 
 position: fixed;
 color: whitesmoke;
 width: 100%;
 bottom: 0; 
} 
